* {
	box-sizing: border-box;
}

body {
	min-height: 120vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	color: #C0BAB6;
	background-color: #333333;
	display: flex;
	min-width: 100vw;
	height: 12.5vh;
	justify-content: space-around;
	align-items: center;
}

.nameAndSlogan {
	text-align: left;
	color: #C0BAB6;
	display: flex;
	flex-direction: column;

}

#brandName {
	font-size: 30px;
}

#brandTagline {
	font-size: 12px;
}

nav {
	height: 6vh;
	background-color: #232323;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.navButton {
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	text-decoration-color: #B5AFAC;
	color: #B5AFAC;
	font-size: 11px;
	width: 70px;
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	justify-content: center;
}

.mainSection {
	margin-right: 12px;
	height: 26vw;
	width: 26vw;
	border-left: 1px solid #EEE;
	border-right: 1px solid #DDD;
}

aside img {
	height: 26vw;
}


.bottomArticles {
	display: flex;
	justify-content: center;
}

.collumn h2, summary {
	color: #999;
	text-align: left;
}

.collumn summary {
	font-weight: 500;
	line-height: 1.5em;
	font-size: 12px;
	width: 28vw;
	margin-right: 3vw;
}

.collumn h2 {
	margin: 10px 0;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}

.articleImg {
	padding: 3px;
	margin-bottom: 1.5vw;
	margin-right: 10px;
	border: 1px solid #DDD;
	width: 10vw;
	float: left;
}

.articleLink {
	color: #FFA013;
	text-decoration: none;
	float: right;
	font-size: 12px;
	margin-right: 4vw;
	margin-top: 10px;
}

footer {
	background-color: #232323;
	display: flex;
	width: 100vw;
	height: 8vh;
	justify-content: flex-start;
	align-content: center;
}

small {
	color: #8C8C8C;
	font-size: 12px;
	align-self: center;
	margin-left: 10vw;
}
